
p{
    color: rgb(0, 0, 0);
    text-decoration: arial;
    font-size: 42px;
}

h1{
    color: rgb(28, 187, 22);
    text-decoration: times;
    font-size: 32px;

}
h5{
    color: black;
    text-decoration: times;
    font-size: 32px;

}
img{
    width: 100px;
    height: 100px;
}
.row{
    width:center;
    height: center;
}
