<!--The content below is only a placeholder and can be replaced.-->
<ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" [class.active]="aba == 'home'" (click)="aba = 'home'" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="aba == 'ngif'" (click)="aba = 'ngif'" routerLink="ngif">NgIf</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="aba == 'ngfor'" (click)="aba = 'ngfor'" routerLink="ngfor">NgFor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="aba == 'ngswitch'" (click)="aba = 'ngswitch'" routerLink="ngswitch">NgSwitch</a>
         </li>
         <li class="nav-item">
          <a class="nav-link" [class.active]="aba == 'cursos'" (click)="aba = 'cursos'" routerLink="cursos">Cursos</a>
         </li>
         <li class="nav-item">
          <a class="nav-link" [class.active]="aba == 'alunos'" (click)="aba = 'alunos'" routerLink="/alunos">Alunos</a>
         </li>
        
      </ul>

      <div class="container">
        <router-outlet></router-outlet>
      </div>


      <!-- <div > 
    <app-ng-switch></app-ng-switch>
-->
    <!-- <app-ng-for></app-ng-for> --> 
    <!--<app-ng-if></app-ng-if> -->
    <!-- <app-test></app-test> 
    
</div> -->

