<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<br><br>
<div class="media">
    <img src="https://avatars0.githubusercontent.com/u/41301622?s=400&v=4" class="align-self-center mr-3" alt="...">
    <div class="media-body">
      <h5 class="mt-0">EloVerde Sistemas</h5>
      <p>A EloVerde nasceu a partir de uma conversa entre dois amigos, onde um possui a experiência em resíduos e também como usuário de sistemas para essa finalidade e o outro possui experiência no desenvolvimento de soluções de software para indústria, com isso somaram suas experiências e observaram que não existia uma solução eficaz no mercado para atender essa demanda, observaram também que muitos resíduos poderiam ser matérias primas em outras empresas e pela falta de conhecimento e comunicação empresas não sabiam disso. </p>
      <p class="mb-0">Este fato deu origem ao Nome Elo que forma a corrente conectando todos os envolvidos e Verde, pois busca uma solução que agregue ao meio ambiente, reduzindo o consumo dos recursos naturais</p>
    </div>
  </div>
